# Node modules για client και server
client/node_modules
server/node_modules

# Env αρχεία (για ασφάλεια)
client/.env
!client/.env.example
server/.env
!server/.env.example
# Build folders
client/dist
# System files
.DS_Store
.vite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
