@import "tailwindcss";
@theme {
  --color-movie-bg: #14181c;
  --color-movie-surface: #1c252d;
  --color-movie-accent: #14b2d6;
  --color-movie-text-main: #ffffff;
  --color-movie-text-sec: #99aab5;
  --color-movie-highlight: #ffc107;

  --font-display: "Inter", sans-serif; /* Για τίτλους */
  --font-body: "Roboto", sans-serif; /* Για κείμενα */
}

@layer base {
  /* Το default style για όλο το app */
  body {
    @apply bg-movie-bg text-movie-text-main antialiased;
  }
}
